<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InvoiceConversion.Properties.Settings.ConnectionString"
      connectionString="Data Source=8.8.8.8;Initial Catalog=LesonInvoice;User ID=dev;Password=xxxxxx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
